{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Hash</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for hash in hashes %}
            <tr>
                <th scope="row">#{{ loop.index0 }}</th>
                <td>{{ hash.val }}</td>
                <td>{{ hash.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock %}
