{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <label for="first">First Name</label>
    <input name="first" id="first" required>
    <label for="last">Last Name</label>
    <input name="last" id="last" required>
    <label for="size">Size</label>
    <select name="size" id="size" required>
      <option value="xs">XS</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
    </select>
    <input type="submit" value="Register">
  </form>
{% endblock %}