{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <p>background:</p>
      <ul>
        <li>a common way of encrypting text is to use hashing, a "hash" is what comes out of hashing</li>
        <li>hashes look like <a href="/hashes">this</a></li>
        <li>hashes are really, really hard to reverse - if you could do it with SHA-512 you'd get paid a lot (like a lot a lot) of money</li>
      </ul>
      <p>how it works:</p>
      <ul>
        <li>we create a hash with SHA-512 from a unique, secret passphrase</li>
        <li>we print a shirt with the hash on it</li>
        <li>we mint the hash, this gives it public certification so fakes are easily spotted</li>
        <li>you get the t-shirt and passphrase</li>
        <li>you are the only (and we mean only) person in the entire world who can hash our t-shirt</li>
      </ul>
      <p>why it works:</p>
      <ul>
        <li><code>$ echo -n "PASSPHRASE HERE" | sha512sum</code></li>
        <li>^ run that in a command line and your output will be what's printed on our shirt</li>
        <li>anyone who bootlegs our shirts will never be able to guess the right passphrase</li>
        <li>bootlegs can easily be spotted this way, only legit owners can run this command successfully</li>
      </ul>
      <p>more info:</p>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/SHA-2">https://en.wikipedia.org/wiki/SHA-2</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
