{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="jumbotron">
        <div class="text-center">
          <h1 class="display-4">&#x1F929; M o j i \t &#x1F929;</h1>
          <p class="lead">crypto-powered tees for $1</p>
        </div>
        <hr class="my-4">
        <p>how it works:</p>
        <ul>
          <li>you make an order</li>
          <li>we generate a hash of a unique, secret passphrase</li>
          <li>we print the shirt and write the passphrase on it</li>
          <li>we mint an nft of the shirt as proof we sold it</li>
          <li>you get the t-shirt and passphrase</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
{% endblock %}
