{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <p>background info:</p>
      <ul>
        <li>a common way of encrypting text is to use hashing</li>
        <li>hashing is when you give readable, plain text to a special function like SHA-512</li>
        <li>a "hash" is the encrypted text that comes out of the special function, hashes look like <a href="/hashes">this</a></li>
        <li>good hashing functions make their hashes virtually impossible to reverse</li>
      </ul>
      <p>how it works:</p>
      <ul>
        <li>we create an SHA-512 hash from a unique, secret passphrase</li>
        <li>we mint the hash, this process gives it our signature so it stands apart from the fakes</li>
        <li>we print a single shirt with this hash on it, we never print this hash again</li>
        <li>you get the t-shirt and the passphrase</li>
        <li>you are the only (and we mean only) person in the entire world who can hash our t-shirt</li>
      </ul>
      <p>why it works:</p>
      <ul>
        <li><code>$ echo -n "PASSPHRASE HERE" | sha512sum</code></li>
        <li>^ run that in a command line and your output will be what's printed on our shirt</li>
        <li>imitators/scammers can always be spotted by asking them to successfully run that command</li>
        <li>because imitators/scammers don't know the passphrase, they can never get that command to work</li>
        <li>as long as the passphrase is kept a secret, your shirt will be the only legit one in the world with that hash</li>
      </ul>
      <p>more info:</p>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/SHA-2">https://en.wikipedia.org/wiki/SHA-2</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
