{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-6">
    {% if succeeded %}
        <h2>Order Processed :^)</h2>
        <p>You should receive an email or text from our Google voice number in the next couple of days to
        confirm your order.</p>
    {% else %}
        <h2>Order Failed To Process :(</h2>
        <p>We are currently out of inventory for the selected size.</p>
    {% endif %}
        </div>
    </div>
{% endblock %}
