{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-4">
        <p>Regular Collection</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in regular %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td><a href="/order?item={{item.name}}"><img src="/static/img/items/{{item.name.lower()}}.jpg" alt="Item Image Missing"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col col-4">
        <p>Limited Collection</p>
        <small>Coming Soon...</small>
        {% if false %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in limited_available %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td><a href="/order?item={{item.name}}"><img class="img-fluid" src="/static/img/items/{{item.name.lower()}}.jpg" alt="Item Image Missing"></a></td>
            </tr>
            {% endfor %}
            {% for item in limited_unavailable %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td><img class="unavailable img-fluid" src="/static/img/items/{{item.name.lower()}}.jpg" alt="Item Image Missing"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
  </div>
{% endblock %}
